img{
  max-width:100%;
  max-height:100%;
}
nav{
  background: white;
  border-bottom: 1px solid blue;
  color:#0f6fd7;

}
nav a{
  color:#0f6fd7;

}
a{
  margin:1px;
}
.navbar-brand{
  float:left;
}
body, html {
    height: 100%;
}
.carousel-control-next{
  margin-top: 3.5em;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 50%;

  background:#01B0A9;

}
.carousel-control-prev{

  margin-top: 3.5em;
  width: 70px;
  height: 70px;
  background: red;
  border-radius: 50%;

  background:#01B0A9;

}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/static/img/cover_photo.jpg");
  background-color:#01B0A9;


  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
#cover-photo{
  float:right;
  display:block;
  background:white;
}
.dash-icon{
  margin:0.5em;
  transition: all .2s ease-in-out;
  color:#0f6fd7;
  border-radius: 20em;
  font-size:7em;


}
.dash-layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dash-icon {
  justify-content: center;
  transition: all .2s ease-in-out;
}
.dash-icon i{
  display:inline;
  padding:0.4em;
}
.dash-icon p{
  font-size:0.25em;
  text-align: center;

}
.dash-icon:hover{
  color:#00AFAB;
  transform: scale(1.2);
  text-decoration: none;

}
/* Proposal style*/
#c .container{
  padding:2em;
  background:white;
  border-top:2px solid #01B0A9;
  border-bottom:2px solid #01B0A9;
  width:50%;
  margin: auto;
  margin-top:1em;

}

#c .container article{
	margin: 5px;
	border: 2px solid white;
  	border-radius: 10px;
  	padding: 10px;
}


#act h5{
	margin:	0;
	text-align: center;
	border-bottom: 3px solid #00ffcc;
  border-radius:0.5em;
}

#c .container article h6{
	text-align: center;
	border-bottom: 3px solid #00ffcc;
    border-radius:0.5em;
}


#c .container article p{
	margin: 0;
	padding: 5px;
	color: black;
	border: 2px solid LightGrey;
  	border-radius: 5px;
}

#c .container article #p{
  text-align: center;
  color: blue;

}
#c .container #act .btn.btn-info{

}
