<!-- Sidebar -->
<ul class="sidebar navbar-nav toggled">

    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('dashboard_page.adminDashboard') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Admin Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('proposal_page.adminAcceptedProposal') }}">
        <i class="fas fa-fw fa-receipt"></i>
        <span>Accepted Proposals</span></a>
    </li>

     <li class="nav-item">
      <a class="nav-link" href="{{ url_for('proposal_page.adminReviewListProposal') }}">
        <i class="fas fa-fw fa-receipt"></i>
        <span>Proposals in Review</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('registration_page.adminRegisterUser') }}">
        <i class="fas fa-fw fa-envelope-open-text"></i>
        <span>Register a user</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('profile_page.adminProfile') }}">
        <i class="fas fa-fw fa-grin"></i>
        <span>View/Edit Profile</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/adminProjects">
          <i class="fas fa-fw fa-money-bill"></i>
          <span>Projects/ Funding</span></a>
      </li>

  </ul>