<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ p1_data.first_name }} Profile</title>

    <!-- Bootstrap core CSS-->
    <link href="static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/dash/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/dash/css/sb-admin.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="static/showprofile/css/show-profile.css">
  </head>

  <body id="page-top">


  {% include 'dashboardNav.html' %}

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard_page.dashboard')}}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_profile') }}">
              <i class="fas fa-fw fa-grin"></i>
              <span>Profile</span></a>
          </li>

        </ul>

      <div id="content-wrapper">

        <div class="-fluid">


          <!--Profile show here-->
            <div class="container">
              <hr>
              <div class="row">

      <!-- edit form column -->
      {% include 'includes/_messages.html' %}
      {% from 'includes/_formhelpers.html' import render_field %}
      <div class="col-md-9 personal-info">

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Personal Info</a>
              </h3>
            </div>

            <div id="collapse1" class="panel-collapse collapse show">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.first_name, class_='form-control', value=p1_data.first_name)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.surname, class_='form-control', value=p1_data.surname)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.suffix, class_='form-control', value=p1_data.suffix)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.job_title, class_='form-control', value=p1_data.job_title)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.institution, class_='form-control', value=p1_data.institution)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.orcid, class_='form-control', value=p1_data.orcid)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.phone, class_='form-control', value=p1_data.phone)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form1.phone_extension, class_='form-control', value=p1_data.phone_extension)}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Save Personal Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Education Info</a>
              </h3>
            </div>

            <div id="collapse2" class="panel-collapse collapse">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.degree, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.field_of_study, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.location, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form2.degree_year, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Add Education Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                  </div>
                </form>

                {% for row in p2_data %}
                <form class="form-horizontal" role="form" method="POST">
                <div class="form-group list-group-flush">
                      <ul class="list-group">
                        <li class="list-group-item ">Degree: {{ row.degree }}</li>
                        <li class="list-group-item">Field of Study: {{ row.field_of_study }}</li>
                        <li class="list-group-item">Institution: {{ row.institution }}</li>
                        <li class="list-group-item">Location: {{ row.location }}</li>
                        <li class="list-group-item">Year of Degree Award: {{ row.degree_year }}</li>
                        <li class="list-group-item">
                          <input name='degree' type='text' value='{{ row.degree }}' hidden>
                          <input type="submit" class="btn btn-primary" name="submit" value="Remove Education Info">
                        </li>
                      </ul>
                </div>
                </form>
                {% endfor %}

            </div>
          </div>
        </div>

        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">Employment Info</a>
              </h3>
            </div>

            <div id="collapse3" class="panel-collapse collapse">
                <form class="form-horizontal" role="form" method="POST">
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.institution, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.location, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-8">
                      {{render_field(form3.emp_years, class_='form-control')}}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-md-3 control-label"></label>
                  <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" name="submit" value="Add Employment Info">
                    <span></span>
                    <input type="reset" class="btn btn-default" value="Cancel">
                  </div>
                  </div>
                </form>

                {% for row in p3_data %}

                <div class="form-group list-group-flush">
                    <form class="form-horizontal" role="form" method="POST">
                      <ul class="list-group">
                        <li class="list-group-item">Institution/Company: {{ row.institution }}</li>
                        <li class="list-group-item">Location: {{ row.location }}</li>
                        <li class="list-group-item">Years: {{ row.emp_years }}</li>
                          <input name='institution' type='text' value='{{ row.institution }}' hidden>
                          <input type="submit" class="btn btn-primary" name="submit" value="Remove Employment Info">
                        </li>
                      </ul>
                    </form>
                </div>
                {% endfor %}

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
<hr>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include 'adminFoot.html' %}

  </body>
  <!-- Footer -->
  {% include 'footer.html' %}

</html>
