<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - University Review proposal</title>

    <!-- Bootstrap core CSS-->
    <link href="static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/dash/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/dash/css/sb-admin.css" rel="stylesheet">

    <!-- Another custom styles for this template -->
    <link rel="stylesheet" href="static/proposal/reviewproposal.css">


  </head>

  <body id="page-top">

    {% include 'dashboardNav.html' %}
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'uninav.html' %}

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Non-accepted Proposals</a>
            </li>
            <li class="breadcrumb-item active">{{ urpdata2.email }} proposal</li>
          </ol>

      <!-- proposal detail start in here-->
              <div id="container">
                 <article id="h5">
                    <h5 >Proposal Title: {{ urpdata2.proposal_name }}</h5>
                 </article>
                 <article>
                    <h6>Duration of award requested:</h6>
                    <p>{{ urpdata2.duration_of_award_in_months}}</p>
               </article>
               <article>
                    <h6>National Research Priority (NRP) Area:</h6>
                    {% if urpdata2.nrp_area  == 'A'%}
                        <p>Priority Area A - Future Networks and Communications</p>
                    {% elif urpdata2.nrp_area  == 'B'%}
                        <p>Priority Area B - Data Analytics, Management, Security and Privacy </p>
                    {% elif urpdata2.nrp_area  == 'C'%}
                        <p>Priority Area C - Digital Platforms, Content and Applications </p>
                    {% elif urpdata2.nrp_area  == 'D'%}
                        <p>Priority Area D - Connected Health and Independent Living </p>
                    {% elif urpdata2.nrp_area  == 'E'%}
                        <p>Priority Area E - Medical Devices </p>
                    {% elif urpdata2.nrp_area  == 'F'%}
                        <p>Priority Area F – Diagnostics </p>
                    {% elif urpdata2.nrp_area  == 'G'%}
                        <p>Priority Area G – Therapeutics: Synthesis, Formulation, Processing and Drug Delivery </p>
                    {% elif urpdata2.nrp_area  == 'H'%}
                        <p>Priority Area H - Food for Health </p>
                    {% elif urpdata2.nrp_area  == 'I'%}
                        <p>Priority Area I - Sustainable Food Production and Processing </p>
                    {% elif urpdata2.nrp_area  == 'J'%}
                        <p>Priority Area J – Marine Renewable Energy </p>
                    {% elif urpdata2.nrp_area  == 'K'%}
                        <p>Priority Area K - Smart Grids & Smart Cities </p>
                    {% elif urpdata2.nrp_area  == 'L'%}
                        <p>Priority Area L - Manufacturing Competitiveness </p>
                    {% elif urpdata2.nrp_area  == 'M'%}
                        <p>Priority Area M - Processing Technologies and Novel Materials </p>
                    {% elif urpdata2.nrp_area  == 'N'%}
                        <p>Priority Area N - Innovation in Services and Business Processes </p>
                    {% elif urpdata2.nrp_area  == 'S'%}
                        <p>Software</p>
                    {% else %}
                        <p>Other</p>
                    {% endif %}
               </article>
               <article>
                    <h6>How the proposal is aligned with SFI's legal remit:</h6>
                    <p>{{ urpdata2.sfi_legal_remit }}</p>
               </article>
               <article>
                    <h6>Ethical issues:</h6>
                    <p>{{ urpdata2.ethical_issues }}</p>
               </article>
               <article>
                    <h6>Applicant’s location (country) at the time of submission</h6>
                    <p> {{ urpdata2.applicant_country }}</p>
               </article>
               <article>
                    <h6>A list of co-applicants, if applicable</h6>

                    <p>{{ urpdata2.list_of_co_applicants }}</p>
               </article>
               <article>
                    <h6>A list of collaborators, if applicable.</h6>
                    <p>Formmat: Name, organization, Email;</p>
                    <p>{{ urpdata2.list_of_collaborators }}</p>
               </article>
               <article>
                    <h6>Scientific abstract</h6>
                    <p>{{ urpdata2.scientific_abstract }}</p>
               </article>
               <article>
                    <h6>Programme doucments:</h6>
                    <a id="bca" href="static/storage/proposals/{{ urpdata2.program_documents }}" download>
                      <p>{{ urpdata2.program_documents }}</p>
                    </a>
               </article>
               <article>
                    <h6>A declaration stating</h6>
                    <p>
                      “Submission of an application confirms acceptance of and agreement with the SFI Terms and Conditions of Research Grants; that the applicant meets eligibility requirements; that the project is in full agreement with all legal and regulatory matters governing research in Ireland; that no aspect of this project is already being funded from another source and that all details provided are correct.”
                    </p>
                    <p>I Agreed</p>
               </article>

               <article>
                    <h6>Do you accepted this proposal?</h6>
                    <p>Please click one of the following button to accept or reject this proposal.</p>
                    <a id='acrj' href="{{ url_for('proposal_page.reviewerReviewListProposal', accept='1', email=urpdata2.email, pn=urpdata2.proposal_name) }}"><p>Accept</p></a>
                    <p>If you want to reject this proposal, Please click the following button to send email to researcher first.</p>
                    <a id='acrj' href="mailto:{{urpdata2.email}}?subject=About your {{urpdata2.proposal_name}} proposal application&body=Dear Sir/Madam, Your application of proposal {{urpdata2.proposal_name}} has been rejected by the Consultant. Regards, SFI"><p>Send email</p></a>
                    <p>After you send email, click reject button. Thank you.</p>
                    <a id='acrj' href="{{ url_for('proposal_page.reviewerReviewListProposal', accept='0', email=urpdata2.email, pn=urpdata2.proposal_name) }}"><p>Reject</p></a>
               </article>
            <a id="abc" href="{{ url_for('proposal_page.reviewerReviewListProposal') }}">Back to previos page</a>
          </div>
      <!--proposal detail end here-->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/dash/vendor/jquery/jquery.min.js"></script>
    <script src="static/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/dash/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/dash/vendor/chart.js/Chart.min.js"></script>
    <script src="static/dash/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/dash/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/dash/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="static/dash/js/demo/datatables-demo.js"></script>
    <script src="static/dash/js/demo/chart-area-demo.js"></script>

  </body>

  <!-- Footer -->
  {% include 'footer.html' %}

</html>
