<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="static/dash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/dash/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/dash/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/dash/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item" href="blank.html">Blank Page</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Profile</a>
            </li>
          </ol>

          <h3>General Information</h3>
            <ul>
                <li>First Name: {{ p1_data.firstname }}</li>
                <li>Last Name: {{ p1_data.surname }}</li>
                <li>Job Title: {{ p1_data.job_title }}</li>
                <li>Prefix: {{ p1_data.prefix }}</li>
                <li>Suffix: {{ p1_data.suffix }}</li>
                <li>Phone: {{ p1_data.phone }}</li>
                <li>Phone Extension: {{ p1_data.phone_extension }}</li>
                <li>Email: {{ p1_data.email }}</li>
                <li>ORCID: {{ p1_data.orcid }}</li>
            </ul>

          <h3>Profile Information</h3>
            <h5>Education Information:</h5>
                {% for row in p2_data %}
                <ul>
                    <li>Degree: {{ row.degree }}</li>
                    <li>Field of Study: {{ row.field_of_study }}</li>
                    <li>Institution: {{ row.institution }}</li>
                    <li>Location: {{ row.location }}</li>
                    <li>Year of Degree Award: {{ row.degree_year }}</li>
                </ul>
                {% endfor %}
            <h5>Employment:</h5>
                {% for row in p3_data %}
                <ul>
                    <li>Institution/Company: {{ row.institution }}</li>
                    <li>Location: {{ row.location }}</li>
                    <li>Years: {{ row.degree_year }}</li>
                </ul>
                {% endfor %}

            <h5>Professional Societies (Membership):</h5>
                {% for row in p4_data %}
                <ul>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Name Of Society: {{ row.name_of_soc }}</li>
                    <li>Type of Membership: {{ row.type_of_membership }}</li>
                    <li>Status: {{ row.status }}</li>
                </ul>
                {% endfor %}

            <h5>Distinctions and Awards:</h5>
              {% for row in p5_data %}
                <ul>
                    <li>Year: {{ row.DandA_year }}</li>
                    <li>Awarding Body: {{ row.award_body }}</li>
                    <li>Details of Award: {{ row.detail }}</li>
                    <li>Team Member Name: {{ row.teamate_name }}</li>
                </ul>
                {% endfor %}

            <h5>Funding Diversification:</h5>
                {% for row in p6_data %}
                <ul>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Amount of Funding: {{ row.amount_fund }}</li>
                    <li>Funding Body: {{ row.fund_body }}</li>
                    <li>Funding Programme: {{ row.fund_program }}</li>
                    <li>Status: {{ row.status }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Team members:</h5>
                {% for row in p7_data %}
                <ul>
                    <li>Start Date with Team: {{ row.degree }}</li>
                    <li>Departure date: {{ row.field_of_study }}</li>
                    <li>Name: {{ row.institution }}</li>
                    <li>Position within the Team: {{ row.location }}</li>
                    <li>Primary Attribution: {{ row.degree_year }}</li>
                </ul>
                {% endfor %}

            <h5>Impacts:</h5>
                {% for row in p8_data %}
                <ul>
                    <li>Impact Title: {{ row.impact_title }}</li>
                    <li>Impact Category: {{ row.impact_category }}</li>
                    <li>Primary Beneficiary: {{ row.primary_beneficiary }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Innovation and Commercialisation:</h5>
                {% for row in p9_data %}
                <ul>
                    <li>Year: {{ row.IandC_year }}</li>
                    <li>Type: {{ row.IandC_type }}</li>
                    <li>Title: {{ row.primary_beneficiary }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Publications:</h5>
                {% for row in p10_data %}
                <ul>
                    <li>Publication Year: {{ row.pub_yr }}</li>
                    <li>Publication Type: {{ row.pub_type }}</li>
                    <li>Title: {{ row.title }}</li>
                    <li>Journal/Conferencename: {{ row.journal_name }}</li>
                    <li>Publication Status: {{ row.pub_status }}</li>
                    <li>DOI: {{ row.DOI }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}
            <h5>Presentations:</h5>
                {% for row in p11_data %}
                <ul>
                    <li>Year: {{ row.presentation_year }}</li>
                    <li>Title of Presentation: {{ row.title }}</li>
                    <li>Event Type: {{ row.evt_type }}</li>
                    <li>Organising Body: {{ row.org_body }}</li>
                    <li>Location: {{ row.location }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Academic Collaborations:</h5>
                {% for row in p12_data %}
                <ul>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Name of Institution: {{ row.institution_name }}</li>
                    <li>Department within Institution: {{ row.department_in_institution }}</li>
                    <li>Location: {{ row.location }}</li>
                    <li>Name of Collaborator: {{ row.collaborator_name }}</li>
                    <li>Primary Goal of Collaboration: {{ row.primary_goal }}</li>
                    <li>Frequency Of Interaction: {{ row.frequency_of_interaction }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>None-academic Collaborations:</h5>
                {% for row in p13_data %}
                <ul>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Name of Institution: {{ row.institution_name }}</li>
                    <li>Department within Institution: {{ row.department_in_institution }}</li>
                    <li>Location: {{ row.location }}</li>
                    <li>Name of Collaborator: {{ row.collaborator_name }}</li>
                    <li>Primary Goal of Collaboration: {{ row.primary_goal }}</li>
                    <li>Frequency Of Interaction: {{ row.frequency_of_interaction }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Conferences/Workshops/Seminars Organized:</h5>
                {% for row in p14_data %}
                <ul>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Title: {{ row.title }}</li>
                    <li>Event Type: {{ row.evt_type }}</li>
                    <li>Role: {{ row.evt_role }}</li>
                    <li>Location of Event: {{ row.evt_location }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}

            <h5>Communications Overview:</h5>
                {% for row in p15_data %}
                <ul>
                    <li>Year: {{ row.comm_year }}</li>
                    <li>Number of Publiclectures/Demonstrations: {{ row.public_lecture_no }}</li>
                    <li>Number of Visits: {{ row.visits_no }}</li>
                    <li>Number of Media Interactions: {{ row.media_interaction_no }}</li>
                </ul>
                {% endfor %}
            
            <h5>SFI Funding Ratio:</h5>
                {% for row in p16_data %}
                <ul>
                    <li>Year: {{ row.fund_year }}</li>
                    <li>Percentage of Annual Spend From SFI: {{ row.percentage }}</li>
                </ul>
                {% endfor %}

            <h5>Education and Public Engagement:</h5>
                {% for row in p17_data %}
                <ul>
                    <li>Name of project: {{ row.project_name }}</li>
                    <li>Start Date: {{ row.start_date }}</li>
                    <li>End Date: {{ row.end_date }}</li>
                    <li>Activity Type: {{ row.activity_type }}</li>
                    <li>Project Topic: {{ row.project_topic }}</li>
                    <li>Target Geographical Area: {{ row.target_area }}</li>
                    <li>Primary Attribution: {{ row.grant_no }}</li>
                </ul>
                {% endfor %}


        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © SFI Website 2019</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/dash/vendor/jquery/jquery.min.js"></script>
    <script src="static/dash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/dash/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/dash/vendor/chart.js/Chart.min.js"></script>
    <script src="static/dash/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/dash/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/dash/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="static/dash/js/demo/datatables-demo.js"></script>
    <script src="static/dash/js/demo/chart-area-demo.js"></script>

  </body>

</html>
