.form-group .form-control {

}

.container .row form{

}

#container{
  padding:2em;
  background:white;
  border:0.2em solid #4785b8;
  border-radius:2em;
  width:500px;
  margin: auto;

  color:#4785b8;
  box-shadow:5px 5px 7px grey;
}

.container .form-group label,.container .container label, .container .md-form label{
    text-align: center;
    border-bottom: 3px solid #00ffcc;
    border-radius:0.5em;
}

.container .container div input{
margin: 5px;
  padding: 5px;
    border: 1px solid LightGrey;
    border-radius: 5px;
}

#submit{
  margin:auto;
  width: 25%;
  color: black;
  background-color: PaleTurquoise;
}